.deletebtn {
  margin-left: 5px;
  border-radius: 4px;
  border: solid 1px black;
}

/* pressed button */
button:active {
  background-color: #3662ff;
}

li {
  list-style: none;
}

.notification {
  color: rgb(0, 139, 28);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: rgb(255, 0, 0);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}